---
---

@import 'mixins/reset';
@import 'mixins/gradients';

html, body {
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

    transition: margin-left 0.2s ease-in-out;
    // transition: opacity 0.4s ease-in;
    &.passed, &.todo {
        // opacity: 0;
        pointer-events: none;
    }
    &.passed {
        margin-left: -100vw;
    }
    &.todo {
        margin-left: 100vw;
    }
}

body {
    font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif;

    background: #36a;
    background: url("/img/trianglify-bg.svg") no-repeat fixed center;
    background: radial-gradient(rgba(0, 0, 255, 0.1), rgba(0, 0, 100, 0.5) 120%) no-repeat fixed center, url("/img/trianglify-bg.svg") no-repeat fixed center;
    background-size: cover;
}
.page > div {
    width: 40em;
    max-width: calc(100% - 2em);
    margin: 0 auto;
    padding: 1em 0 .5em;
}

.buttonList {
    display: flex;
    justify-content: center;
    > button {
        margin: 0 .5em;
    }
}
.button {
    background: rgba(241, 241, 241, .19);
    color: rgba(241, 241, 241, .87);
    border: none;
    font-size: 1.2em;
    display: block;
    margin: 0 auto .5em;
    padding: .5em .7em;
    border-radius: .4em;
    cursor: pointer;
    touch-action: manipulation; // disable double-tap-to-zoom on phones/tablets
    user-select: none;
    &:hover {
        background: rgba(241, 241, 241, .14);
    }
    &.smol {
        font-size: 1em;
    }
}

.descLine {
    display: flex;
    background: rgba(240, 248, 255, .12);
    margin-top: .8em;
    border-radius: .5em;
    overflow: hidden;
    backdrop-filter: blur(.7rem);
    > div.img {
        width: 150px;
        display: flex;
        flex: none;
        align-items: center;
        justify-content: center;
        padding: 0.7em 0;
        background: rgba(13, 40, 64, .32);
        img {
            max-height: 150px;
            max-width: 150px;
        }
    }
    > div.desc {
        width: 100%;
        color: #eef;
        line-height: 1.2;
        padding: .5em .7em;
        a {
            text-decoration: none;
            font-style: italic;
            color: #bcdff1;
        }
    }
}

p.footer {
    display: block;
    text-align: center;
    padding-top: 2.3em;
    font-size: 0.9em;
    color: #edf2f9;
    opacity: .9;
    a {
        text-decoration: none;
        font-style: italic;
        color: #bcdff1;
    }
}