---
---

@import 'mixins/reset';
@import 'mixins/gradients';

html, body {
    overflow-x: hidden;
}

.page {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;

    transition: left 0.2s ease-in-out;
    &.passed {
        left: -100vw;
    }
    &.todo {
        left: 100vw;
    }
}